	<div><br/><br/></div>	
	<div id="myCarousel" class="carousel slide">
            <div class="carousel-inner" align="center">
                <div class="item active left" align="center">
                    <img src="http://sojump.b0.upaiyun.com/images/MasterNew/side1.jpg" alt="" width="1000px">
                    <div class="carousel-caption" align="center">
                        <h4>FireFly问卷调查网站</h4>
                        <p>
            专注问卷调查300年～
                        </p>
                    </div>
                </div>
                <div class="item next left" align="center">
                    <img src="http://sojump.b0.upaiyun.com/images/MasterNew/side2.jpg?v=2" alt="" width="1000px">
                    <div class="carousel-caption" align="center">
                        <h4>生成您的调查问卷</h4>
                        <p>
            在本站您可以方便快捷地生成您的调查问卷
                        </p>
                    </div>
                </div>
                <div class="item" align="center">
                    <img src="http://sojump.b0.upaiyun.com/images/MasterNew/side3.jpg?v=2" alt="" width="1000px">
                    <div class="carousel-caption" align="center">
                        <h4>查看我的调查问卷</h4>
                        <p>
            在本站您可以方便地查看你回答过的调查问卷
                        </p>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
        </div>



