<!--new code-->
<!--new code-->
<!--new code-->
<!--new code-->
<!--new code-->

<style type="text/css">
 table {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
 }
 td {
   border-width: 0;
   border-style: none;
   border-color: #0000ff;
   border-collapse: collapse;
   padding: 0;
   margin: 0;
   width: 10px;
   height: 10px;
 }
 td.black { background-color: #000; }
 td.white { background-color: #fff; }
</style>
<!--new code-->
<!--new code-->
<!--new code-->
<!--new code-->
<!--new code-->






<% provide(:title, '发布成功') %>
<h1>发布成功!</h1>
<p>
  <!--
  Trying to creat a page of mine
  <a href="http://railstutorial.org/contact">contact page</a>.
-->
    <div class="alert alert-success">
      Hey,你成功发布了一个问卷,赶快去看看吧!(其实这个链接是百度来的(→_→)
    </div>
    <br>
</p>








<!--new code-->
<!--new code-->
<!--new code-->
<!--new code-->
<div style="text-align:center;">
<table style="margin:auto;" >
  <!--origin: align="center"-->
 <% @qr.modules.each_index do |x| -%>
   <tr>
   <% @qr.modules.each_index do |y| -%>
    <% if @qr.dark?(x,y) -%>
    <td class="black"/>
    <% else -%>
    <td class="white"/>
    <% end -%>
   <% end -%>
   </tr>
 <% end -%>
</table>

 <!--
  <input class="span3" readonly="true" text-aligin:"center" type="text" value="I am an URL~_~">      <button class="btn btn-primary" type="button">复制</button>
-->
  <br>
  <br>
  
  <div class="input-append">
    <input class="span6" id="appendedInputButton" type="text" readonly="true"  type="text" value="http://www.baidu.com"> <!--span1~span11控制宽度-->
    <button class="btn btn-primary" type="button" onclick="copyToClipboard()">复制</button>
  <script type="text/javascript">
function copyToClipboard()
  {
   if(window.clipboardData)//如果可以用剪贴板方法
     {
      var qURLforCopy=document.getElementById("appendedInputButton");
       //window.location=qURL.value;
       window.clipboardData.clearData();  
       window.clipboardData.setData('text', qURLforCopy.value); 
       alert("已经成功复制到剪帖板上！"); //提示要换方式可以换为这个bootstrap警告框样式http://v2.bootcss.com/javascript.html#alerts 
     }else if(navigator.userAgent.indexOf("Opera")!= -1) {
                          var qURLforCopy=document.getElementById("appendedInputButton");
                   window.location = qURLforCopy.value;//这他妈逼的有问题吧？
           } else if (window.netscape) {     
                            var qURLforCopy=document.getElementById("appendedInputButton");
                            try {     
                                   netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");     
                                 } catch (e) {     
                                                  alert("浏览器拒绝访问剪贴板,请手动复制链接地址");    //可以换为这个bootstrap警告框样式http://v2.bootcss.com/javascript.html#alerts 
                                                        }   //这行前面我还知道在干什么 
      
              }else if(window.navigator.userAgent.indexOf("Chrome") !== -1 )
          {
             alert("浏览器拒绝访问剪贴板,请手动复制链接地址"); 
           
         }
}
    </script>
    <button class="btn btn-info" type="button" onclick="gotoURL()">前往</button>
     <script type="text/javascript">
    function gotoURL()
    {
      var qURL=document.getElementById("appendedInputButton");
     //window.location=qURL.value;
     window.open(qURL.value);
   }
     </script>
  </div>

</div>

<!--new code-->

<!--new code-->
<!--new code-->
<!--new code-->
<!--new code-->
<!--new code-->