<footer class="footer">
  <small>
      <p>版权所有：软件学院Fireflies团队 地址：北京市海淀区学院路37号 邮编：100191</p>
  </small>
  <nav>
    <ul><small>
      <li><a href="http://soft.buaa.edu.cn/">北航软件学院</a></li>
      <li><%= link_to "关于我们", about_path %></li>
      <li><%= link_to "帮助", help_path %></li>
    </small></ul>
  </nav>
</footer>